footer.page-footer.page-footer-classic
  section.section-75.section-sm-80.section-md-100.section-xl-150
    .shell
      .range.text-sm-left.spacing-55
        .cell-sm-6.cell-lg-3.cell-xl-4
          a(href='index.html')
            +png_responsive('brand-inverse-178x58')
          p.offset-top-20.offset-md-top-35.inset-xl-right-30 Alma University offers high-quality education to students inside and outside of the USA. With our help, you can master any sphere you prefer, from web design to app development or economics.
        .cell-sm-3.cell-lg-2.cell-md-3
          span.small.text-spacing-340.text-white.text-uppercase.text-bold.page-footer-classic-title About us
          ul.list.list-marked.offset-top-30.list-xs.offset-md-top-40
            li: a.text-white(href='#') Our University
            li: a.text-white(href='services.html') Our services
            li: a.text-white(href='careers.html') Careers
            li: a.text-white(href='#') Certifications
            li: a.text-white(href='history.html') Our History
        .cell-sm-3.cell-lg-2.cell-md-3
          span.small.text-spacing-340.text-white.text-uppercase.text-bold.page-footer-classic-title INFORMATION
          ul.list.list-marked.offset-top-30.list-xs.offset-md-top-40
            li: a.text-white(href='events.html') Events
            li: a.text-white(href='news.html') News
            li: a.text-white(href='contacts.html') Contacts
            li: a.text-white(href='#') Site Map
            li: a.text-white(href='privacy.html') Privacy Policy
        .cell-sm-6.cell-lg-2.cell-md-5
          .inset-lg-right-30
            span.small.text-spacing-340.text-white.text-uppercase.text-bold.page-footer-classic-title Contact us
            ul.list.offset-top-30.text-left.offset-md-top-40
              li
                .unit.unit-horizontal.unit-spacing-xs
                  .unit-left
                    span.icon.icon--school-bus-yellow.fa-map-marker
                  .unit-body
                    a.text-school-bus-yellow-white(href='#') 1901 Avenue of the Stars Suite 200
                      br.veil.reveal-sm-block
                      ="\t"
                      | San Diego, CA 90067
              li
                .unit.unit-horizontal.unit-spacing-xs
                  .unit-left
                    span.icon.icon--school-bus-yellow.fa-phone
                  .unit-body
                    a.text-school-bus-yellow-white(href='tel:#') 1-646-325-0357
              li
                .unit.unit-horizontal.unit-spacing-xs
                  .unit-left
                    span.icon.icon--school-bus-yellow.fa-envelope
                  .unit-body
                    a.text-school-bus-yellow-white(href='mailto:#') mail@demolink.org
        .cell-sm-6.cell-lg-3.cell-xl-2.cell-md-5
          .inset-lg-right-30
            span.small.text-spacing-340.text-white.text-uppercase.text-bold.page-footer-classic-title Follow us
            ul.list-inline.list-inline-lg.offset-top-30.offset-md-top-40
              li: a.ioon.icon-sm.icon--school-bus-yellow-white.fa-facebook(href='#')
              li: a.ioon.icon-sm.icon--school-bus-yellow-white.fa-twitter(href='#')
              li: a.ioon.icon-sm.icon--school-bus-yellow-white.fa-instagram(href='#')
              li: a.ioon.icon-sm.icon--school-bus-yellow-white.fa-google-plus(href='#')
              li: a.ioon.icon-sm.icon--school-bus-yellow-white.fa-pinterest-p(href='#')

  section.section-25.bg-gray-base
    .shell
      .range.range-sm-middle.spacing-30
        .cell-sm-8.text-sm-left
          p.small-xs Copyright
            ="\t"
            span(id="copyright-year")
            ="\t"
            | All rights reserved by Alma University
            ="\t"
            | .
            ="\t"
        .cell-sm-4.text-sm-right
          p.small-xs
            a.text-white(href="privacy.html") Privacy Policy