section.section-75.section-md-100.section-lg-120.section-xl-130
  .shell
    h2
      span.small Testimonials
      | What students say about us
    .range
      .cell-md-6
        blockquote.quote-default.text-sm-left
          h5: q “I found a very caring and homely environment at the university where the faculty staff and the people in the university are exceptionally supportive. I am grateful to all my teachers and Professors as well as the other university staff. ”
          h6.offset-top-30.offset-md-top-45: cite Peter Handerson
          span.offset-top-10.small-xs Bachelor of Economics
      .cell-md-6
        blockquote.quote-default.quote-default-variant-1.text-sm-left
          h5: q “I applied to Alma University for the Web Design Course. I got the opportunity to complete my design project with the Alt Web Design Studio and eventually got a chance to work with bigger clients and employers this year. Thank you!”
          h6.offset-top-30.offset-md-top-45: cite Jennifer Rogers
          span.offset-top-10.small-xs Bachelor of Web Design