section.section-75.section-md-120.section-xl-150
  .shell
    h2
      span.small Our Team
      ="\t"
      | Meet Our Teachers
    .range.range-sm-justify
      .cell-sm-6.cell-md-5.cell-lg-3
        +jpg_responsive('about-02-360x404')
        h6
          a(href='team-member.html')  Paul Eddington
        span.small.small-md Business Analytics
        p Paul Eddington is a certified expert in Business Analytics who has developed 10 online courses for our university.
      .cell-sm-6.cell-md-5.cell-lg-3.offset-top-40.offset-sm-top-0
        +jpg_responsive('about-03-360x404')
        h6
          a(href='team-member.html')  David Smith
        span.small.small-md Programming
        p David specializes in app & web development. His students are hired by renown companies and web studios.
      .cell-sm-6.cell-md-5.cell-lg-3.offset-top-40.offset-lg-top-0
        +jpg_responsive('about-04-360x404')
        h6
          a(href='team-member.html')  Jane Johnson
        span.small.small-md Web Design
        p Ms. Johnson has more than 8 years of working as a UX Designer and teaching Web  Design at various European online schools.
      .cell-sm-6.cell-md-5.cell-lg-3.offset-top-40.offset-lg-top-0
        +jpg_responsive('about-05-360x404')
        h6
          a(href='team-member.html')  John Doe
        span.small.small-md Economics & Marketing
        p John Doe is one of our best teachers who teaches economic and financial courses. He also serves as an Economic Faculty Adviser.