section.section-75.section-md-100.section-lg-120.section-xl-150
  .shell
    .owl-carousel.text-center(data-items='1', data-xs-items='2', data-sm-items='3',data-md-items='4', data-lg-items='5', data-xl-items='6', data-stage-padding='0', data-loop='true', data-margin='0', data-mouse-drag="true", data-dots='true')
      .item
        +png_responsive('brand-01-159x90')
      .item
        +png_responsive('brand-02-164x90')
      .item
        +png_responsive('brand-03-124x90')
      .item
        +png_responsive('brand-04-133x90')
      .item
        +png_responsive('brand-05-126x90')
      .item
        +png_responsive('brand-06-164x90')
      .item
        +png_responsive('brand-01-159x90')