.shell
  .range.text-center
    .cell-md-3.cell-sm-6
      .counter(data-from='100', data-to='597')
      .counter-cite positive reviews
    .cell-md-3.cell-sm-6.offset-top-40.offset-sm-top-0
      .counter(data-from='100', data-to='2640')
      .counter-cite Students
    .cell-md-3.cell-sm-6.offset-top-40.offset-md-top-0
      .counter(data-from='0', data-to='57')
      .counter-cite Teachers
    .cell-md-3.cell-sm-6.offset-top-40.offset-md-top-0
      .counter(data-from='100', data-to='148')
      .counter-cite partners