section.section-30
  .shell
    .range
      .cell-sm-6.cell-lg-4.cell-xl-3.cell-xl-preffix-1
        span.icon.icon-primary.icon-xl.sprite-home-icon-01.linearicons-library2
        h5: a(href='single-course.html')  Online Courses
        p.text-justify Nullam in tincidunt nunc. Maecenas fermentum justo ac libero dapibus, non scelerisque orci consequat. Nulla pharetra sollicitudin.
      .cell-sm-6.cell-lg-4.cell-xl-3.offset-top-50.offset-sm-top-0.cell-xl-preffix-1
        span.icon.icon-primary.icon-xl.sprite-home-icon-01.linearicons-license2
        h5: a(href='single-course.html').postfix-xl-right--25 Paid E-Certificates
        p.text-justify Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dapibus nibh orci, eu semper ex aliquam in. Sed libero justo mollis auctor tellus,.
      .cell-sm-6.cell-lg-4.cell-xl-3.offset-top-50.offset-lg-top-0.cell-xl-preffix-1
        span.icon.icon-primary.icon-xl.sprite-home-icon-01.linearicons-book
        h5: a(href='single-course.html')  Educational Materials
        p.text-justify Aliquam vitae nunc et libero mollis ullamcorper id sit amet arcu. In convallis libero nec mauris volutpat sagittis. Vivamus gravida ipsum.
      .cell-sm-6.cell-lg-4.cell-xl-3.offset-top-50.cell-xl-preffix-1
        span.icon.icon-primary.icon-xl.sprite-home-icon-01.linearicons-contacts
        h5: a(href='single-course.html')  Self-Development Courses
        p.text-justify Cras mollis auctor tellus, quis imperdiet velit pretium et. Mauris pharetra nibh sed pulvinar porta. Praesent sed sodales metus auctor ligula.
      .cell-sm-6.cell-lg-4.cell-xl-3.offset-top-50.cell-xl-preffix-1
        span.icon.icon-primary.icon-xl.sprite-home-icon-01.linearicons-library
        h5: a(href='single-course.html')  Extensive Library
        p.text-justify Mauris laoreet efficitur metus, sed efficitur nibh luctus ut. Quisque tempor sed sapien quis dictum. Cras non auctor ligula, et porta elit.
      .cell-sm-6.cell-lg-4.cell-xl-3.offset-top-50.cell-xl-preffix-1
        span.icon.icon-primary.icon-xl.sprite-home-icon-01.linearicons-graduation-hat
        h5: a(href='single-course.html')  Post-Graduate Education
        p.text-justify Suspendisse potenti. Integer et sem facilisis, consequat neque ac, eleifend ex. Duis eu enim eu enim pellentesque varius. Phasellus lacus metus, iaculis.