.swiper-container.swiper-slider.swiper-secondary(data-height='100vh', data-min-height='300px' data-autoplay="5000")
  .swiper-wrapper.text-center
    .swiper-slide(data-slide-bg='images/home-03-slide-01.jpg')
      .swiper-slide-caption
        .shell
          .range.section-100-vh.range-xs-middle.range-xs-center
            .cell-xl-8.cell-sm-9(data-caption-animate="fadeInDown" data-caption-delay="200")
              h1.text-white.big Quality Education
              p.h6.offset-top-30.text-regent-st-blue Since 1981, our university provides students with high-quality professional education. Together with us, you will have deeper knowledge of the subjects important for your future profession.
              .group
                a.btn.btn-sunglow.btn-form(href='services.html') View Our Courses
                a.btn.btn-dark.btn-form(href='single-course.html') Get in touch

    .swiper-slide(data-slide-bg='images/home-02-slide-01.jpg')
      .swiper-slide-caption
        .shell
          .range.section-100-vh.range-xs-middle.range-xs-center
            .cell-xl-8.cell-sm-9(data-caption-animate="fadeInDown" data-caption-delay="200")
              h1.text-white.big Helping You Grow
              p.h6.offset-top-30.text-regent-st-blue Our main goal is to develop your hidden skills and talents and to help you grow as a future professional in a chosen speciality. Our university has all necessary resources for it.
              .group
                a.btn.btn-sunglow.btn-form(href='services.html') view Our courses
                a.btn.btn-dark.btn-form(href='single-course.html') Get in touch

    .swiper-slide(data-slide-bg='images/home-03-slide-03.jpg')
      .swiper-slide-caption
        .shell
          .range.section-100-vh.range-xs-middle.range-xs-center
            .cell-xl-8.cell-sm-9(data-caption-animate="fadeInDown" data-caption-delay="200")
              h1.text-white.big Best Teachers
              p.h6.offset-top-30.text-regent-st-blue Our university has gathered the team of top-notch professionals in their fields who are ready to share their knowledge with you and to teach you anything necessary for your future career.
              .group
                a.btn.btn-sunglow.btn-form(href='services.html') view Our courses
                a.btn.btn-dark.btn-form(href='single-course.html') Get in touch

  .swiper-button-prev
    span Prev
  .swiper-button-next
    span Next
  .custom-way-point.custom-way-point-swiper.animated(data-custom-scroll-to='custom-way-point') Scroll down


